<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Small business entrepreneur, animal lover, yoga junkie, wanna-be-computer geek, hula hooper, occasional blogger, mom to many furry, feathered and scaly kids! Full Stack Web Developer student at <%= link_to 'Flatiron School', 'http://wwww.flatironschool.com' %>.</p>
  </div>
  
  <%= source_helper("alert alert-info blog-sidebar-source") %>
  
  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @sidebar_topics.each do |topic| %>
    <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>
  
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/sandyvern"><%= fa_icon "github" %></a></li>
      <li><a href="https://twitter.com/sandyvern"><%= fa_icon "twitter" %></a></li>
      <li><a href="https://instagram.com/sandyvern"><%= fa_icon "instagram" %></a></li>
      <li><a href="https://www.facebook.com/Sandra.E.Hogan"><%= fa_icon "facebook" %></a></li>
       <!--<%= link_to '@sandyvern', "https://twitter.com/sandyvern" %>-->
    </ol>
  </div>
</div>