<div class="app-card-container">
  <div class="card">

    <h1 class='text-center'>Would you like to work together?</h1>
    <hr>
    
    <div class="row">
      <div class="col-md-6">
        <h3>Location</h3>
    
        <p>Stamford, CT  06902</p>
    
        <h3>Phone</h3>
    
        <p><%= number_to_phone "2034346139" %></p>
    
        <h3>Email</h3>
    
        <p><a href="mailto:sandyhogan2013@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>
    
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96270.61009220209!2d-73.61391651901954!3d41.059011690815815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2a1bdf766efe9%3A0x7b54e0467e4ff592!2sStamford%2C+CT+06902!5e0!3m2!1sen!2sus!4v1488481066910" 
        width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    
    <!--<p><%= number_to_phone "2035556565" %></p>-->
    <!--<p><%= number_to_currency "2134" %></p>-->
    <!--<p><%= number_to_percentage "80.4" %></p>-->
    <!--<p><%= number_with_delimiter "213438749387" %></p>-->
  </div>
</div>
